@media all {
  .Candidates {
    background-image: linear-gradient(violet, lightblue, white);
  }

  .cursor {
    cursor: pointer;
    width: 350px;
    margin-bottom: 40px;
  }

  .heading {
    text-align: center;
  }

}